nav {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: rgba(20, 29, 47, 1);
    backdrop-filter: blur(8px);
    width: 100vw;
    display: flex;
    justify-content: center;
    transition: background-color 0.3s ease-in-out;
}

.nav-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 110px;
    width: 1440px;
    padding-left: 100px;
    padding-right: 100px;
    box-sizing: border-box;
}

.nav-content .portfolio-name {
    color: white;
    font-size: 35px;
    cursor: pointer;
    a{
        text-decoration: none;
        color: white;
    }
}

.navbar-menu {
    display: flex;
    align-items: center;
    gap: 29px;
    margin-left: auto; 
    margin-right: 16px;
}

.navbar-menu a {
    text-decoration: none;
    color: white;
    font-size: 23px;
    font-family: 'Poppins light', sans-serif;
    cursor: pointer;
}

.one-nav {
    a {
        color: white;
        &:hover {
            color: rgba(112, 230, 28, 1);
        }
    }
    .divider {
        display: none;
    }
    &:hover {
        .divider {
            display: block;
        }
    }
}

.divider{
    border: 2px solid rgba(151, 71, 255, 1);
    width: 70%;
    border-radius: 4px;
    display: none;
}

.german, .usa{
    background-color: rgba(20, 29, 47, 1);
    border: none;
}

.d-none{
    display: block;
}


@media (max-width: 1000px) {
    .navbar-menu {
        display: none;
        position: absolute;
        top: 110px;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: rgba(17, 17, 18, 0.5);
        backdrop-filter: blur(10px);
        flex-direction: column;
        text-align: center;
        padding: 20px 0;
        transition: all 0.3s ease-in-out;
    }

    .navbar-menu.active {
        display: flex;
    }

    .nav-mobile {
        display: block;
        cursor: pointer;
    }
}

@media (min-width: 1001px) {
    .nav-mobile {
        display: none;
    }
    .d-none{
        display: none;
    }
}

@media (max-width: 750px) {
    .nav-content{
        padding-left: 36px;
        padding-right: 36px;
    }
}
