*{
    font-family: 'Poppins thin';
    box-sizing: border-box;
}

.about-me{
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    max-width: 1440px;
    box-sizing: border-box;
}

#about-me{
 scroll-margin-top: 120px;  
}


h1{
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 90px;

}

.description{
    display: flex;
    gap: 16px;
    margin-bottom: 24px;
    img{
        width: 25px;
        &:hover{
            width: 48px;
        }
    }

    p,div{
        font-size: 16px;
    }
}

.profil-img{
    border-radius: 100%;
    border: 3px solid rgba(112, 230, 28, 1);
}
.about-me-left{
    width: 50%;
}
.about-me-right{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    img{
        width: 450px;
    }   
}

.background-shadow{
    position: absolute;
    height: 600px;
    top: -20%;
    right: -20%;  
}

.divider{
    height: 3px;
    background-color: rgba(112, 230, 28, 1);
    width: 400px;

}

.purple-shadow{
    position: absolute;
    top: 0px;
    right: -40vw;
    background-color: transparent;
    z-index: 10;
}

@media (max-width:1500px) {
    .about-me{
        margin-left: 100px;
    }
}

@media (max-width:1400px) {
    .about-me{
        width: 100vw;
        padding-left: 0;
    }

    .about-me-left{
        width: 100%;
    }

    .about-me-right{
        display: none;
    }

    .description{
        display: flex;
        width: 80%;
        img{
            width: 25px;
            &:hover{
                width: 48px;
            }
        }
    
        p,div{
            box-sizing: border-box;
            width: 80%;
        }

    }
}

@media (max-width: 1200px) {
    .purple-shadow{
        height: 600px;
    }    
}


@media (max-width: 800px) {
    .purple-shadow{
        height: 500px;
    }    
}


@media (max-width: 720px) {
    .about-me-left{
        h1{
            font-size: 70px;
        }
    }
    .purple-shadow{
       
        height: 400px;
        right: -50vw;

    }

}

@media (max-width: 500px) {
    .about-me-left{
        h1{
            font-size: 50px;
        }
    }  
}

@media (max-width: 425px) {
    .about-me-left{
        h1{
            font-size: 45px;
        }

        .description{
            box-sizing: border-box;
            p{
                line-height: 19.2px;
            }
            div{
                line-height: 19.2px;
            }
        }    
        
    }

    .purple-shadow{
        height: 300px;

    }

}
@keyframes appear{
    from {
      opacity: 0;
      transform: translateX(-200px);

    }
    to{
        opacity: 1;
        transform: translateX(0px);

    }
  }

  .block{
    animation: appear linear;
    animation-timeline: view() ;
    animation-range: entry 20% cover 40%;
  }