<div class="about-me" id="about-me">
    <div class="about-me-left">
        <h1>{{ 'ABOUTME' | translate}}</h1>
        <div class="content">
            <div class="description">
                <p> {{'PERSONALY_DESCRIPION' | translate}}</p>
            </div>
            <div>
                <div class="description">
                    <img src="./assets/img/About_me/map_small_green.svg" alt="">
                    <div>{{ 'MAPS' | translate }}
                    </div>
                </div>
                <div class="description">
                    <img src="./assets/img/About_me/lightBubl_small_green.svg" alt="">
                    <div>{{"BULB" | translate}}</div>
                </div>
                <div class="description">
                    <img src="./assets/img/About_me/puzzle_small_green.svg" alt="">
                    <div>{{"PUZZLE" | translate}}</div>
                </div>
            </div>
        </div>
    </div>
    <div class="about-me-right">
        <img class="profil-img" src="./assets/img/About_me/profil.png" alt="">
        <div class="divider"></div>
    </div>
</div>