.wrapper {  
  display: flex;
  justify-content: center!important;
  align-items: center!important;
  flex-direction: column;
  scroll-behavior: smooth;
  max-width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  
}

.shadow-skill-portfolio{
  position: relative;

}

.shadow-above-aboutme{
  position: relative; 
}
