<div class="portfolio" id="portfolio">
    <div class="headline">
        <div class="headline-line-left"></div>
        <h1 class="headline-text">Portfolio</h1>
        <div class="headline-line-right"></div>
      </div>
    <div class="portfolio-description">
        <p>{{"PORTFOLIO_DESCRIPTION" | translate}}</p>
    </div>
        <div class="one-portfolio"
             *ngFor="let project of projects; index as i"
            [ngClass]="{ 'reverse': i % 2 === 1 }">        
   
        <div class="portfolio-img">
            <img [src]="project.image" [alt]="project.title">
        </div>
    
   
        <div class="project-description">
            <h2>{{ project.title }}</h2>
            <h3>{{ project.techStack }}</h3>
            <p>{{ project.translateKey | translate }}</p>
            <div class="portfolio-btns">
            <div class="btn">
                <button class="btn-live-test" (click)="openLink(project.liveLink)">Live test</button>
                <button class="btn-github" (click)="openLink(project.githubLink)">Github</button>
            </div>
            </div>
        </div>
    </div>



</div>
