section{
    margin-top: 110px;
    display: flex;
    flex-direction: column;
    max-width: 1440px;
    height: 100%;
    justify-content: center;
    text-align: left;
    position: relative;
    background: url("/assets/img/Background/30. Purple shadow about me.png") no-repeat top left ,
                url("/assets/img/Background/31. Green shadow Skills Portfolio.svg") no-repeat top right,
                url("/assets/img/Background/30. Purple shadow about me.png") no-repeat top left,
                url("/assets/img/Background/32 Purple shadow portfolio.svg") no-repeat top right,
                url("/assets/img/Background/31. Green shadow Skills Portfolio.svg") no-repeat top right;
    background-position: -400px 0px, 1000px 1400px,-400px 5000px, 1000px 4000px, 1000px 6000px;

    h1,h2{
        color: rgba(112, 230, 28, 1);
    }

    h1{
        text-align: center;
        font-size: 70px;
    }
    
    a{
        text-decoration: none;
        color: white;
        &:hover{
            cursor: pointer;
            color: rgba(112, 230, 28, 1);
        }
    }
}