
section {
position: relative;
    
}
.privacy-policy{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 100vw;
    height: 100%;
    max-width: 1440px;
    justify-content: center;
    text-align: left;
    position: relative;
    padding: 60px;
    box-sizing: border-box;
    position: relative;
    z-index: 1;
}

h1, h2 {
    color: rgba(112, 230, 28, 1);
}

h1 {
    text-align: center;
    font-size: 50px;
}

ul.index {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;

}

ul.index li {
    margin: 10px;
}

a, a:visited, a:active {
    text-decoration: none !important;
    color: rgba(151, 71, 255, 1)
}



a:hover {
    cursor: pointer;
    color: rgba(112, 230, 28, 1);
}

.shadow-purple{
    position: absolute;
    top: 400px;
    right: -20vw;
    height: 400px;
    background-color: transparent;
    z-index: -1;
}

.shadow-green{
    position: absolute;
    top: 3800px;
    left: -20vw;
    height: 400px;
    background-color: transparent;
    z-index: -1;
}

@media screen and (max-width: 1024px) {
    h1 {
        font-size: 40px;
    }
}

@media screen and (max-width: 768px) {
    h1 {
        font-size: 35px;
    }

    ul.index {
        flex-direction: column;
        padding: 0;
    }
}

@media screen and (max-width: 480px) {
    h1 {
        font-size: 28px;
    }

}

@media screen and (max-width: 400px) {
    section {
        padding-left: 16px;
    }

    h1 {
        font-size: 24px;
    }

    ul.index li {
        font-size: 14px;
    }
}

@media screen and (max-width: 320px) {
    h1 {
        font-size: 22px;
    }

    ul.index li {
        font-size: 12px;
    }
}
