
    <section>
      <div class="privacy-policy">
        <h1>{{ 'PRIVACY.TITLE' | translate }}</h1>
        <p>{{ 'PRIVACY.UPDATED' | translate }}</p>
      
        <h2>{{ 'PRIVACY.CONTENTS' | translate }}</h2>
        <ul class="index">
          <li><a class="index-link" href="privacy-policy/#m3">{{ 'PRIVACY.INDEX.RESPONSIBLE' | translate }}</a></li>
          <li><a class="index-link" href="privacy-policy/#mOverview">{{ 'PRIVACY.INDEX.OVERVIEW' | translate }}</a></li>
          <li><a class="index-link" href="privacy-policy/#m2427">{{ 'PRIVACY.INDEX.LEGAL_FOUNDATIONS' | translate }}</a></li>
          <li><a class="index-link" href="privacy-policy/#m27">{{ 'PRIVACY.INDEX.SECURITY_MEASURES' | translate }}</a></li>
          <li><a class="index-link" href="privacy-policy/#m25">{{ 'PRIVACY.INDEX.DATA_TRANSFER' | translate }}</a></li>
          <li><a class="index-link" href="privacy-policy/#m24">{{ 'PRIVACY.INDEX.INTERNATIONAL_TRANSFERS' | translate }}</a></li>
          <li><a class="index-link" href="privacy-policy/#m12">{{ 'PRIVACY.INDEX.STORAGE' | translate }}</a></li>
          <li><a class="index-link" href="privacy-policy/#m10">{{ 'PRIVACY.INDEX.RIGHTS' | translate }}</a></li>
          <li><a class="index-link" href="privacy-policy/#m225">{{ 'PRIVACY.INDEX.HOSTING' | translate }}</a></li>
          <li><a class="index-link" href="privacy-policy/#m134">{{ 'PRIVACY.INDEX.COOKIES' | translate }}</a></li>
          <li><a class="index-link" href="privacy-policy/#m182">{{ 'PRIVACY.INDEX.CONTACT' | translate }}</a></li>
        </ul>
      
        <h2 id="m3">{{ 'PRIVACY.RESPONSIBLE.TITLE' | translate }}</h2>
        <p [innerHTML]="'PRIVACY.RESPONSIBLE.DETAILS' | translate"></p>
      
        <h2 id="mOverview">{{ 'PRIVACY.OVERVIEW.TITLE' | translate }}</h2>
        <p>{{ 'PRIVACY.OVERVIEW.DESCRIPTION' | translate }}</p>
        <h3>{{ 'PRIVACY.OVERVIEW.DATA_TYPES.TITLE' | translate }}</h3>
        <ul>
            <li *ngFor="let item of ('PRIVACY.OVERVIEW.DATA_TYPES.ITEMS' | translate)">
                {{ item }}
              </li>
        </ul>
        <h3>{{ 'PRIVACY.OVERVIEW.PERSON_CATEGORIES.TITLE' | translate }}</h3>
        <ul>
            <li *ngFor="let item of ('PRIVACY.OVERVIEW.PERSON_CATEGORIES.ITEMS' | translate)">
                {{ item }}
              </li>
        </ul>
        <h3>{{ 'PRIVACY.OVERVIEW.PURPOSES.TITLE' | translate }}</h3>
        <ul>
            <li *ngFor="let item of ('PRIVACY.OVERVIEW.PURPOSES.ITEMS' | translate)">
                {{ item }}
              </li>
        </ul>
      
        <h2 id="m2427">{{ 'PRIVACY.LEGAL_FOUNDATIONS.TITLE' | translate }}</h2>
        <p [innerHTML]="'PRIVACY.LEGAL_FOUNDATIONS.INTRO' | translate"></p>
        <ul>
            <li *ngFor="let item of ('PRIVACY.LEGAL_FOUNDATIONS.LIST' | translate)">
                {{ item }}
              </li>
        </ul>
        <p [innerHTML]="'PRIVACY.LEGAL_FOUNDATIONS.NATIONAL' | translate"></p>
      
        <h2 id="m27">{{ 'PRIVACY.SECURITY_MEASURES.TITLE' | translate }}</h2>
        <p>{{ 'PRIVACY.SECURITY_MEASURES.DESCRIPTION' | translate }}</p>
        <p>{{ 'PRIVACY.SECURITY_MEASURES.DETAILS' | translate }}</p>
      
        <h2 id="m25">{{ 'PRIVACY.DATA_TRANSFER.TITLE' | translate }}</h2>
        <p>{{ 'PRIVACY.DATA_TRANSFER.DESCRIPTION' | translate }}</p>
      
        <h2 id="m24">{{ 'PRIVACY.INTERNATIONAL_TRANSFERS.TITLE' | translate }}</h2>
        <p [innerHTML]="'PRIVACY.INTERNATIONAL_TRANSFERS.DESCRIPTION' | translate"></p>
      
        <h2 id="m12">{{ 'PRIVACY.STORAGE.TITLE' | translate }}</h2>
        <p>{{ 'PRIVACY.STORAGE.DESCRIPTION' | translate }}</p>
        <p>{{ 'PRIVACY.STORAGE.DETAILS' | translate }}</p>
        <p>{{ 'PRIVACY.STORAGE.POLICY' | translate }}</p>
        <p [innerHTML]="'PRIVACY.STORAGE.ADDITIONAL' | translate"></p>
        <ul class="m-elements">
          <li>
            
          </li>
        </ul>
      
        <h2 id="m10">{{ 'PRIVACY.RIGHTS.TITLE' | translate }}</h2>
      
        <h2 id="m225">{{ 'PRIVACY.HOSTING.TITLE' | translate }}</h2>
        <p>{{ 'PRIVACY.HOSTING.DESCRIPTION' | translate }}</p>
        <ul class="m-elements">
          <li [innerHTML]="'PRIVACY.HOSTING.DETAILS.DATA_TYPES' | translate"></li>
          <li [innerHTML]="'PRIVACY.HOSTING.DETAILS.PERSONS' | translate"></li>
          <li [innerHTML]="'PRIVACY.HOSTING.DETAILS.PURPOSES' | translate"></li>
          <li [innerHTML]="'PRIVACY.HOSTING.DETAILS.STORAGE' | translate"></li>
          <li [innerHTML]="'PRIVACY.HOSTING.DETAILS.LEGAL' | translate"></li>
        </ul>
        <p [innerHTML]="'PRIVACY.HOSTING.ADDITIONAL' | translate"></p>
        <ul class="m-elements">
          <li>
            <p [innerHTML]="'PRIVACY.HOSTING.LOGFILES.DESCRIPTION' | translate"></p>
            <p [innerHTML]="'PRIVACY.HOSTING.LOGFILES.DELETION' | translate"></p>
          </li>
        </ul>
      
        <h2 id="m134">{{ 'PRIVACY.COOKIES.TITLE' | translate }}</h2>
        <p>{{ 'PRIVACY.COOKIES.DESCRIPTION' | translate }}</p>
        <p [innerHTML]="'PRIVACY.COOKIES.LEGAL' | translate"></p>
        <p [innerHTML]="'PRIVACY.COOKIES.STORAGE' | translate"></p>
        <ul>
          <li>{{ 'PRIVACY.COOKIES.TEMPORARY' | translate }}</li>
          <li>{{ 'PRIVACY.COOKIES.PERMANENT' | translate }}</li>
        </ul>
        <p [innerHTML]="'PRIVACY.COOKIES.OPT_OUT' | translate"></p>
        <ul class="m-elements">
          <li [innerHTML]="'PRIVACY.COOKIES.DETAILS.DATA_TYPES' | translate"></li>
          <li [innerHTML]="'PRIVACY.COOKIES.DETAILS.PERSONS' | translate"></li>
          <li [innerHTML]="'PRIVACY.COOKIES.DETAILS.LEGAL' | translate"></li>
        </ul>
        <p [innerHTML]="'PRIVACY.COOKIES.CONSENT.DESCRIPTION' | translate"></p>
        <p [innerHTML]="'PRIVACY.COOKIES.CONSENT.LEGAL' | translate"></p>
      
        <h2 id="m182">{{ 'PRIVACY.CONTACT.TITLE' | translate }}</h2>
        <p>{{ 'PRIVACY.CONTACT.DESCRIPTION' | translate }}</p>
        <ul class="m-elements">
          <li [innerHTML]="'PRIVACY.CONTACT.DETAILS.DATA_TYPES' | translate"></li>
          <li [innerHTML]="'PRIVACY.CONTACT.DETAILS.PERSONS' | translate"></li>
          <li [innerHTML]="'PRIVACY.CONTACT.DETAILS.PURPOSES' | translate"></li>
          <li [innerHTML]="'PRIVACY.CONTACT.DETAILS.STORAGE' | translate"></li>
          <li [innerHTML]="'PRIVACY.CONTACT.DETAILS.LEGAL' | translate"></li>
        </ul>
        <p [innerHTML]="'PRIVACY.CONTACT.ADDITIONAL' | translate"></p>
        <p [innerHTML]="'PRIVACY.CONTACT.CONTACT_FORM' | translate"></p>
      
        <p class="seal" [innerHTML]="'PRIVACY.SEAL' | translate"></p>
        <img class="shadow-purple" src="./assets/img/Background/30. Purple shadow about me.png" alt="">
        <img class="shadow-green" src="/assets/img/Background/31. Green shadow Skills Portfolio.svg" alt="">
      </div>
      </section>
      

      