<section>
    <div class='impressum'>
        <h1>Impressum</h1>
        <p>Angaben gemäß § 5 DDG</p>
        <p>
        Michael Neisens <br> 
        Hirschpark 3<br> 
        33161 Hirschpark 3 <br> 
        </p>
        <p> <strong>Vertreten durch: </strong><br>
        Michael Neisens<br>
        </p><p><strong>Kontakt:</strong> <br>
        Telefon: 0151-42348848<br>
        E-Mail: <a href='mailto:michael.neisens@hotmail.de'>michael.neisens&#64;hotmail.de</a><br></p><br> 
        Impressum vom <a href="https://www.impressum-generator.de">Impressum Generator</a> der <a href="https://www.kanzlei-hasselbach.de/standorte/bonn/" rel="nofollow">Kanzlei Hasselbach, Bonn</a> </div>  
</section>
