<section>
    <div class="impressum">
      <h1>{{ 'TITLEI' | translate }}</h1>
      <p>{{ 'INFO' | translate }}</p>
      <p>
        Michael Neisens <br>
        Hirschpark 3<br>
        33161 Hirschpark 3<br>
      </p>
      <p>
        <strong>{{ 'REPRESENTED_BY' | translate }}</strong><br>
        Michael Neisens<br>
      </p>
      <p>
        <strong>{{ 'CONTACTI' | translate }}</strong><br>
        {{ 'PHONE' | translate }}: 0151-42348848<br>
        {{ 'EMAIL' | translate }}:
        <a href="mailto:contact@michael-neisens.de">contact&#64;michael-neisens.de</a>
      </p>
      <br>
      <p [innerHTML]="'CREDITS' | translate"></p>
    </div>
  </section>
  <img class="shadow-purple" src="./assets/img/Background/30. Purple shadow about me.png" alt="">
  <img class="shadow-green" src="/assets/img/Background/31. Green shadow Skills Portfolio.svg" alt="">