
@font-face {
    font-family: 'Poppins';
    src: url('assets/fonts/Poppins-Regular.ttf') format('woff2');
    font-weight: 200;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Poppins light';
    src: url('assets/fonts/Poppins-Light.ttf') format('woff2');
    font-weight: 200;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Poppins thin';
    src: url('assets/fonts/Poppins-Thin.ttf') format('woff2');
    font-weight: 200;
    font-style: normal;
  }
  

  body {
    --sb-track-color: #232e33;
    --sb-thumb-color: #36bd0c;
    --sb-size: 14px;
  }
  
  body::-webkit-scrollbar {
    width: var(--sb-size)
  }
  
  body::-webkit-scrollbar-track {
    background: var(--sb-track-color);
    border-radius: 3px;
  }
  
  body::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border-radius: 3px;
    
  }
  
  @supports not selector(::-webkit-scrollbar) {
    body {
      scrollbar-color: var(--sb-thumb-color)
                       var(--sb-track-color);
    }
  }
  
  html, body {
    background-color: rgba(20, 29, 47, 1)!important;
    font-family: 'Poppins', sans-serif;
    color: white;
    height: 100vh; 
    // max-width: 100%;
    // overflow-x: hidden; /* Hide vertical scrollbar */
    // overflow-x: hidden;
    // overflow-y: hidden;
    // max-width: 90vw;
    // width: calc(100vw - (100vw - 100%))!important;
    width: 100%;
    scroll-behavior: smooth;
    overflow-x: clip;
    margin: 0;
    // padding-right: calc(100vw - 100%); 
    // box-sizing: border-box;
    // background: url('/assets/img/Background/32 Purple shadow portfolio.svg') no-repeat -1400px 100px;   
    // overflow: visible !important;
    // max-width: 800px;
  }

  
  
  *, *::before, *::after {
    box-sizing: border-box;
  }

  @keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(30px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .animate {
    opacity: 1 !important;
    animation: fadeInUp 0.8s ease-out forwards;
  }